resource "ory_social_provider" "test_apple" {
  provider_id          = "test-apple"
  provider_type        = "apple"
  client_id            = "com.example.auth.service"
  apple_team_id        = "TESTTEAMID"
  apple_private_key_id = "TESTKEYID1"
  apple_private_key    = <<-EOT
[[ .PrivateKey ]]
EOT
  scope                = ["email", "name"]
}
