resource "ory_social_provider" "test" {
  provider_id              = "test-google-uiol"
  provider_type            = "google"
  client_id                = "test-client-id.apps.googleusercontent.com"
  client_secret            = "test-client-secret"
  scope                    = ["email", "profile"]
  update_identity_on_login = "automatic"
}
