resource "ory_social_provider" "wo" {
  provider_id              = "test-wo-google"
  provider_type            = "google"
  client_id                = "test-wo-client-id.apps.googleusercontent.com"
  client_secret_wo         = "test-wo-client-secret-[[ .Version ]]"
  client_secret_wo_version = "[[ .Version ]]"
  scope                    = ["email", "profile"]
}
