resource "ory_oauth2_client" "test" {
  project_slug    = "[[ .ProjectSlug ]]"
  project_api_key = "[[ .ProjectAPIKey ]]"

  client_name = "[[ .Name ]]"

  grant_types    = ["client_credentials"]
  response_types = ["token"]
  scope          = "api:read"
}
