resource "ory_saml_provider" "test" {
  provider_id                  = "test-saml"
  label                        = "Test SAML Updated"
  raw_idp_metadata_xml         = "[[ .MetadataXML ]]"
  audience_override_base_url   = "https://audience.example.com"
  proxy_saml_audience_override = "https://audience-override.example.com"
}
