resource "ory_oidc_dynamic_client" "test" {
  project_slug    = "[[ .ProjectSlug ]]"
  project_api_key = "[[ .ProjectAPIKey ]]"

  client_name = "[[ .Name ]]"

  grant_types    = ["authorization_code"]
  response_types = ["code"]
  scope          = "openid"
}
