resource "ory_action" "test" {
  project_id  = "[[ .ProjectID ]]"
  flow        = "settings"
  timing      = "after"
  auth_method = "profile"
  url         = "[[ .WebhookURL ]]/profile-after-settings"
  method      = "POST"
}
