resource "ory_action" "test" {
  flow            = "verification"
  timing          = "after"
  url             = "[[ .WebhookURL ]]/verification-after"
  method          = "POST"
  response_ignore = true
}
