resource "ory_action" "wo" {
  flow        = "registration"
  timing      = "after"
  auth_method = "password"
  url         = "[[ .WebhookURL ]]/wo-basic-auth-webhook"
  method      = "POST"

  webhook_auth_type                           = "basic_auth"
  webhook_auth_basic_auth_user                = "webhook-user"
  webhook_auth_basic_auth_password_wo         = "wo-basic-password-[[ .Version ]]"
  webhook_auth_basic_auth_password_wo_version = "[[ .Version ]]"
}
