resource "ory_relationship" "test" {
  project_slug    = "[[ .ProjectSlug ]]"
  project_api_key = "[[ .ProjectAPIKey ]]"

  namespace  = "documents"
  object     = "doc-creds-123"
  relation   = "viewer"
  subject_id = "user-creds-456"
}
