resource "ory_json_web_key_set" "test" {
  project_slug    = "[[ .ProjectSlug ]]"
  project_api_key = "[[ .ProjectAPIKey ]]"

  set_id    = "tf-test-jwks-creds"
  key_id    = "tf-test-key-creds"
  algorithm = "RS256"
  use       = "sig"
}
