resource "ory_identity" "test" {
  project_slug    = "[[ .ProjectSlug ]]"
  project_api_key = "[[ .ProjectAPIKey ]]"

  schema_id = "preset://username"

  traits = jsonencode({
    username = "[[ .Username ]]"
  })

  state = "active"
}
