resource "ory_identity" "wo" {
  schema_id = "preset://username"

  traits = jsonencode({
    username = "[[ .Username ]]"
  })

  state = "active"

  password_wo         = "Tf-Wo-Pass-[[ .Version ]]-xK9qLm2!"
  password_wo_version = "[[ .Version ]]"
}
