resource "ory_project_config" "test" {
  account_experience_default_locale = "en"

  account_experience_logo_light    = ""
  account_experience_favicon_light = ""

  account_experience_theme_variables_light = {}
  account_experience_theme_variables_dark  = {}
}
