resource "ory_project_config" "test" {
  cors_enabled                                            = true
  cors_origins                                            = ["[[ .AppURL ]]"]
  selfservice_methods_password_config_min_password_length  = 10
}
