resource "ory_project_config" "test" {
  selfservice_methods_profile_enabled = [[ .EnableProfile ]]

  selfservice_methods_code_enabled                                 = true
  selfservice_methods_code_config_lifespan                         = "[[ .CodeLifespan ]]"
  selfservice_methods_code_config_missing_credential_fallback_enabled = [[ .CodeMissingCredentialFallbackEnabled ]]

  selfservice_flows_settings_lifespan                   = "[[ .SettingsLifespan ]]"
  selfservice_flows_settings_privileged_session_max_age  = "[[ .SettingsPrivilegedSessionMaxAge ]]"
  selfservice_flows_settings_required_aal               = "[[ .RequiredAAL ]]"

  selfservice_flows_verification_enabled                    = true
  selfservice_flows_verification_use                        = "[[ .VerificationUse ]]"
  selfservice_flows_verification_lifespan                   = "[[ .VerificationLifespan ]]"
  selfservice_flows_verification_notify_unknown_recipients  = [[ .VerificationNotifyUnknownRecipients ]]
}
