resource "ory_project_config" "test" {
  enable_profile = [[ .EnableProfile ]]

  enable_code                              = true
  code_lifespan                            = "[[ .CodeLifespan ]]"
  code_missing_credential_fallback_enabled = [[ .CodeMissingCredentialFallbackEnabled ]]

  settings_lifespan                = "[[ .SettingsLifespan ]]"
  settings_privileged_session_max_age = "[[ .SettingsPrivilegedSessionMaxAge ]]"
  required_aal                     = "[[ .RequiredAAL ]]"

  enable_verification                      = true
  verification_use                         = "[[ .VerificationUse ]]"
  verification_lifespan                    = "[[ .VerificationLifespan ]]"
  verification_notify_unknown_recipients   = [[ .VerificationNotifyUnknownRecipients ]]
}
