resource "ory_organization" "test" {
  label = "SCIM Write-Only Test Org"
}

resource "ory_scim_client" "wo" {
  organization_id                        = ory_organization.test.id
  client_id                              = "[[ .ClientID ]]"
  label                                  = "Write-only secret"
  mapper_url                             = "[[ .MapperURL ]]"
  authorization_header_secret_wo         = "[[ .Secret ]]"
  authorization_header_secret_wo_version = "[[ .Version ]]"
}
